body{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(68.97% 68.73% at 50% 50%, #1C008A 0%, #130060 29%, #0F0048 52%, #02000A 94%);
    margin: 0;
}

header{
    width: 100%;
    height: 7vh;
    margin-bottom: 5vh;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.20);
    border-bottom: rgba(255, 255, 255, 0.2) 1px solid ;


    a{
        all: unset;
        cursor: pointer;
        color: #FFF;
        font-family: "Gloria Hallelujah";
        font-size: 25px;

    }

    div{
        height: 100%;
        margin:0 10px 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

button{
    font-family: "Gloria Hallelujah";
}

p{
    color: rgb(18, 7, 53);
    text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.8);
}

div.mainContainer{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: 900px;
    min-height: 600px;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    backdrop-filter: blur(10px);
    border-radius: 40px;
    background: linear-gradient(159deg, rgba(255, 255, 255, 0.40) 3.01%, rgba(255, 255, 255, 0.00) 103.3%);
    margin-bottom: 50px;
    opacity:1;
    border: 1px solid transparent;
    border-image: linear-gradient(300deg, rgb(19, 1, 66), rgb(255, 255, 255)) 1;
    mask:
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .questionContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 35px 0 35px;
        flex-grow: 2;

        p{
            font-size: 40px;
            font-weight: 600;
            line-height: 40px;
        }
    }

    .answerAndButton{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        flex-grow: 3;

        .nextP{
            display: flex;
            align-items: center;
            min-height: 100px;
        }
    }
}

.questionBox{
    margin-bottom: 20px;
}

hr{
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.326);
}

div.mainContainer.first{
    justify-content: space-evenly;
    align-items: center;

    h1{
        font-size: 50px;
    }

    button{
        width: 250px;
        height: 3.5em;
        margin-bottom: 20px;

        span{
            font-size: 30px;
        }
    }
}



.answerContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 850px;
    justify-content: center;
    gap: 40px;
    width: 100%;
    margin: 0 20px;
}

label{
    cursor: pointer;
}

input{
    display: none;
}

.musicBox{
    border: 1px solid #1C274C;
    border-radius: 20px;
    padding: 3px;
    width: 30px;
    height: 30px;
    background-color: #30427c46;
    margin: 0 5px;

    label{
        display: block;
        background-image: url("images/music-notes.svg");
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}

.animationButton{
    border: 1px solid #1C274C;
    border-radius: 20px;
    padding: 3px;
    width: 30px;
    height: 30px;
    background-color: #30427c46;
    margin: 0 5px;

    label{
        display: block;
        background-image: url("images/running.svg");
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}

.answerButtonWrap .label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:30px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.30);
    transition: background-color 0.3s ease, transform 0.2s ease;
    height: 60px;
    width:260px;
    min-width: fit-content;
    border-radius: 6px;
    border: 1px solid #FFF;
}

.mainContainer.first .answerButtonWrap .label:not(:first-child){
    height: 40px;
}

.answerButtonWrap .label:hover {
    background: rgba(35, 24, 107, 0.6);
    transform: scale(1.05);
}

input:checked + .label {
    background-color:rgba(35, 24, 107, 0.6);
}

button:not(.submit){
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background: none;
    border: 0;
    
}

button img:hover{
    transform: scale(1.5);
}

.mainContainer.results{
    width: 70%;
    height: fit-content;
    position: relative;
    bottom: 0;
    background: rgba(255, 255, 255, 0.50);


    div.scoreBox{
        display: flex;
        justify-content: center;
        gap: 10vw;

        .score{
            padding: 15px;
            border-radius: 6px;
            border: 1px solid #FFF;
            text-align: center;
        }
    }

    .allQuestions{
        margin: 25px;

        span{
            margin:0 5em ;
        }
    }

    p{
        font-size: 20px;
        line-height:20px;
    }
}

div.score.red{
    color: rgb(151, 1, 1);

    p{
        color: rgb(135, 2, 2);
        font-weight: 600;
    }
}

div.score.green{
    color: rgb(0, 113, 0);

    p{
        color: rgb(0, 113, 0);
        font-weight: 600;
    }
}

div.score.orange{
    color: orange;

    p{
        color: orange;
        font-weight: 600;
    }
}

.whatNumber{
    display: inline;
    font-size: 30px;
    color: white;
    margin: 0 15px;
}



h1{
    text-align: center;
    margin: 5vh;
    color: white;
    font-family: "Gloria Hallelujah";
}

.darkLight{
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: linear-gradient(2deg, #6A6DFF 10.84%, #4532B1 54.34%, #1D005A 97.84%);
    box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.32) inset;
    transition: 0.3s;
}

.darkLight:after{
    content: "";
    position: absolute;
    top: 2.5px;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    padding: 0;
    margin-right: 7px;
    background: #D9D9D9;
    box-shadow: -2px 6px 7px 0px rgba(0, 0, 0, 0.31) inset;
    transition: 0.3s;
}

#darkLightInput{
    height: 20px;
    width: 20px;
    z-index: 1;
    visibility: visible;
    position: relative;
    left:30px;
    opacity: 0;
    cursor: pointer;
}

#darkLightInput:checked{
    left:50px;
}

#darkLightInput:checked + .darkLight{
    background: linear-gradient(0deg, #FCF5D0 10%, #FFBE45 100%);
    box-shadow: 2px 3px 6px 0px rgba(57, 28, 0, 0.32) inset;
}

#darkLightInput:checked + .darkLight:after{
    left: 46px;
    transform: translate(-100%);
    background: #FFAF5A;
    box-shadow: 2px 6px 7px 0px rgba(0, 0, 0, 0.31) inset;
}

button.submit{
    border: 1px solid #ffffff93;
    background: rgba(255, 255, 255, 0.329);
    border-radius: 10px;
    width: fit-content;
    padding: 0 10px;
    height: 50px;
    font-size: 20px;
    align-self: center;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    color: #0d0028;
}

button.submit:hover{
    transform: scale(1.2);
}

.questionContainer p span{
    font-size: 18px;
}

/* ligh styling */

body.light{
    background: radial-gradient(68.97% 68.73% at 50% 50%, #FFEFED 11.5%, #FDD6D2 66.5%, #FBB4AD 100%);

    header{
        background: linear-gradient(112deg, rgba(236, 192, 192, 0.60) 26.69%, rgba(255, 236, 236, 0.60) 68.65%);
        box-shadow: rgba(231, 133, 133, 0.181) 0px 20px 20px -5px, rgba(183, 104, 104, 0.127) 0px 10px 10px -5px;
        opacity: 0.8;
        a{
            color: #710808;
        }
    }

    .whatNumber{
        color: #5f1313;
    }

    p{
        color: rgb(49, 0, 82);
        text-shadow: 2px 2px 15px rgba(41, 6, 65, 0.49);
    }

    div.mainContainer{
        background: linear-gradient(150deg, rgba(255, 90, 90, 0.282) 26.69%, rgba(255, 186, 186, 0.414) 68.65%);
        opacity: 0.6;
        border: 1px solid rgba(207, 118, 118, 0.277);
    
        h1{
            color: #5f1313;
        }
    
    }

    .mainContainer.first span{
        color: #943434;
    }
    
    .mainContainer.first button{
        border: 1px solid #5f1313;
    }

    .mainContainer.first button:hover{
        background: rgba(113, 1, 150, 0.315);
    
         span{
            color: white;
         }
    }
    
    .answerButtonWrap .label{
        color: rgb(113, 7, 7);
        border: #7108083e 1px solid;
    }
    
    .answerButtonWrap .label:hover{
        background-color:rgba(113, 1, 150, 0.315);
        color: white;
    }
    
    input:checked + .label{
        background-color:rgba(113, 1, 150, 0.315);
        color: white;
    }

    .mainContainer.results{
        background: rgba(255, 170, 170, 0.5);
    
        h1{
            color: rgb(107, 3, 3);
        }
        
        p{
            color: rgb(76, 0, 0);
        }
    }
    
    div.score.orange{
        color: rgb(210, 113, 21);
    
        p{
            color: orange;
        }
    }

    
    #startGame{
        color: rgb(76, 0, 0);
        border: #8b222237 solid 1px;
    }
    
    #startGame:hover{
        color: white;
    }
    
    .submit{
        border: #8b222237 solid 1px;
    }
    .submit:hover{
        transform: scale(1.2);
    }

    .label.r a{
        color: #943434;
     }

     .label.r a:hover{
        color: white;
     }

     ul{
        width: 80%;
     }
     
     .rules{
        font-size: 25px;
        color: rgb(76, 0, 0);
        padding-bottom: 30px;
     }

     #goBack{
        display: flex;
        align-content: center;
        color: white;
        background: rgba(255, 255, 255, 0.30);
        transition: background-color 0.3s ease, transform 0.2s ease;
        height: 40px;
        text-align: center;
        width: 120px;
        border-radius: 6px;
        border: 1px solid rgb(76, 0, 0);
        
        a{
            all: unset;
            display: block;
            font-size: 25px;
            color: rgb(76, 0, 0);
            cursor: pointer;
            width: 100%;
            padding-top: 5px;
        }
     }
    
     #goBack:hover{
        transform: scale(1.2);
     }
}



@media screen and (max-width: 400px){
    div.mainContainer{
        min-height: 500px;
    }

    div.mainContainer.first button{
        min-width: 200px;
        max-width: 210px;
        max-height: 90px;
    }

    .questionContainer{      
        margin: 0 0px;
    }

    .answerButtonWrap .label {
        width: 200px;
    }

    .mainContainer.results p{
            line-height: 20px;
        }

}

@media(max-width: 700px){

    div.mainContainer.first button{
        font-size: 20px;
    }

    p{font-size: 26px !important;}

    label span{ font-size: 16px !important;}

    label{
        height: fit-content !important;
        padding: 12px;
        min-width: 40% !important;
        max-width: 100px;
    }

    .answerContainer{
        gap: 12px;
    }

    a{
        font-size: 24px !important;
    }

    .nextButtonImg{
        rotate: 20% !important;
    }

    #darkLightLabel{
        max-width: 25px !important;
    }

    div.mainContainer.results {
    display: flex;
    flex-direction: column !important;
    position: absolute !important;
    top: 55% !important;
    margin: 0 !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    overflow: auto !important; /* enables scrolling */
    max-height: 70vh !important; /* use viewport height unit to ensure it respects screen height */
    max-width: 100% !important;
    width: 90% !important;
    padding: 1rem !important; /* optional: add spacing */
    box-sizing: border-box !important;
    flex-wrap: nowrap;

    p{
        font-size: 20px !important;
    }
}

}

/* Background animation */
 .backgroundWrap{
    position: absolute;
    z-index: -1;
    background-color:transparent;
    width: 100vw;
    height: 100vh;
 }

 .backgroundObject{
    position: absolute;
    opacity: 0.3;
    width: 9vw;
    animation: goDown linear 40s infinite;
 }

 .backgroundObject:first-of-type{
    left: 2%;
    top: -20%;
 }

 .backgroundObject:nth-of-type(2){
    left: 20%;
    top: -20%;
 }

 .backgroundObject:nth-of-type(3){
    left: 40%;
    top: -20%;
 }

 .backgroundObject:nth-of-type(4){
    left: 60%;
    top: -20%;
 }

 .backgroundObject:nth-of-type(5){
    left: 80%;
    top: -20%;
 }

 .backgroundObject:nth-of-type(6){
    left: 2%;
    top: -20%;
    animation-delay: 10s;
 }

 .backgroundObject:nth-of-type(7){
    left: 20%;
    top: -20%;
    animation-delay: 10s;
 }

 .backgroundObject:nth-of-type(8){
    left: 40%;
    top: -20%;
    animation-delay: 10s;
 }

 .backgroundObject:nth-of-type(9){
    left: 60%;
    top: -20%;
    animation-delay: 10s;
 }

 .backgroundObject:nth-of-type(10){
    left: 80%;
    top: -20%;
    animation-delay: 10s;
 }

 .backgroundObject:nth-of-type(11){
    left: 2%;
    top: -20%;
    animation-delay: 20s;
 }

 .backgroundObject:nth-of-type(12){
    left: 20%;
    top: -20%;
    animation-delay: 20s;
 }

 .backgroundObject:nth-of-type(13){
    left: 40%;
    top: -20%;
    animation-delay: 20s;
 }

 .backgroundObject:nth-of-type(14){
    left: 60%;
    top: -20%;
    animation-delay: 20s;
 }

 .backgroundObject:nth-of-type(15){
    left: 80%;
    top: -20%;
    animation-delay: 20s;
 }

 .backgroundObject:nth-of-type(16){
    left: 2%;
    top: -20%;
    animation-delay: 30s;
 }

 .backgroundObject:nth-of-type(17){
    left: 20%;
    top: -20%;
    animation-delay: 30s;
 }

 .backgroundObject:nth-of-type(18){
    left: 40%;
    top: -20%;
    animation-delay: 30s;
 }

 .backgroundObject:nth-of-type(19){
    left: 60%;
    top: -20%;
    animation-delay: 30s;
 }

 .backgroundObject:nth-of-type(20){
    left: 80%;
    top: -20%;
    animation-delay: 30s;
 } 

.backgroundObject:nth-of-type(n+21):nth-of-type(-n+40) {
  display: none;
}





 @media(max-width: 700px){
    .backgroundObject:nth-of-type(n):nth-of-type(-n+40) {
     display: block;
}

    .backgroundObject:first-of-type{
    left: 2%;
    top: -5%;
 }

 .backgroundObject:nth-of-type(2){
    left: 20%;
    top: -5%;
 }

 .backgroundObject:nth-of-type(3){
    left: 40%;
    top: -5%;
 }

 .backgroundObject:nth-of-type(4){
    left: 60%;
    top: -5%;
 }

 .backgroundObject:nth-of-type(5){
    left: 80%;
    top: -5%;
 }

 .backgroundObject:nth-of-type(6){
    left: 2%;
    top: -5%;
    animation-delay: 5s;
 }

 .backgroundObject:nth-of-type(7){
    left: 20%;
    top: -5%;
    animation-delay: 5s;
 }

 .backgroundObject:nth-of-type(8){
    left: 40%;
    top: -5%;
    animation-delay: 5s;
 }

 .backgroundObject:nth-of-type(9){
    left: 60%;
    top: -5%;
    animation-delay: 5s;
 }

 .backgroundObject:nth-of-type(10){
    left: 80%;
    top: -5%;
    animation-delay: 5s;
 }

 .backgroundObject:nth-of-type(11){
    left: 2%;
    top: -5%;
    animation-delay: 10s;
 }

 .backgroundObject:nth-of-type(12){
    left: 20%;
    top: -5%;
    animation-delay: 10s;
 }

 .backgroundObject:nth-of-type(13){
    left: 40%;
    top: -5%;
    animation-delay: 10s;
 }

 .backgroundObject:nth-of-type(14){
    left: 60%;
    top: -5%;
    animation-delay: 10s;
 }

 .backgroundObject:nth-of-type(15){
    left: 80%;
    top: -5%;
    animation-delay: 10s;
 }

 .backgroundObject:nth-of-type(16){
    left: 2%;
    top: -5%;
    animation-delay: 15s;
}

.backgroundObject:nth-of-type(17){
    left: 20%;
    top: -5%;
    animation-delay: 15s;
}

.backgroundObject:nth-of-type(18){
    left: 40%;
    top: -5%;
    animation-delay: 15s;
}

.backgroundObject:nth-of-type(19){
    left: 60%;
    top: -5%;
    animation-delay: 15s;
}

.backgroundObject:nth-of-type(20){
    left: 80%;
    top: -5%;
    animation-delay: 15s;
}

.backgroundObject:nth-of-type(21){
    left: 20%;
    top: -5%;
    animation-delay: 20s;
}

.backgroundObject:nth-of-type(23){
    left: 40%;
    top: -5%;
    animation-delay: 20s;
}

.backgroundObject:nth-of-type(24){
    left: 60%;
    top: -5%;
    animation-delay: 20s;
}

.backgroundObject:nth-of-type(25){
    left: 80%;
    top: -5%;
    animation-delay: 20s;
}

.backgroundObject:nth-of-type(26){
    left: 2%;
    top: -5%;
    animation-delay: 25s;
}

.backgroundObject:nth-of-type(27){
    left: 20%;
    top: -5%;
    animation-delay: 25s;
}

.backgroundObject:nth-of-type(28){
    left: 40%;
    top: -5%;
    animation-delay: 25s;
}

.backgroundObject:nth-of-type(29){
    left: 60%;
    top: -5%;
    animation-delay: 25s;
}

.backgroundObject:nth-of-type(30){
    left: 80%;
    top: -5%;
    animation-delay: 25s;
}

.backgroundObject:nth-of-type(31){
    left: 2%;
    top: -5%;
    animation-delay: 30s;
}

.backgroundObject:nth-of-type(32){
    left: 20%;
    top: -5%;
    animation-delay: 30s;
}

.backgroundObject:nth-of-type(33){
    left: 40%;
    top: -5%;
    animation-delay: 30s;
}

.backgroundObject:nth-of-type(34){
    left: 60%;
    top: -5%;
    animation-delay: 30s;
}

.backgroundObject:nth-of-type(35){
    left: 80%;
    top: -5%;
    animation-delay: 30s;
}

.backgroundObject:nth-of-type(36){
    left: 2%;
    top: -5%;
    animation-delay: 35s;
}

.backgroundObject:nth-of-type(37){
    left: 20%;
    top: -5%;
    animation-delay: 35s;
}

.backgroundObject:nth-of-type(38){
    left: 40%;
    top: -5%;
    animation-delay: 35s;
}

.backgroundObject:nth-of-type(39){
    left: 60%;
    top: -5%;
    animation-delay: 35s;
}

.backgroundObject:nth-of-type(40){
    left: 80%;
    top: -5%;
    animation-delay: 35s;
}

 }



 @keyframes goDown {
    0%{
        transform: translateY(0);
    }

    25%{
        rotate: 10deg;
    }

    50%{
        rotate: -10deg;
    }

    75%{
        rotate: 10deg;
    }

    87%{
        opacity: 0.3;
    }

    100%{
        rotate: -10deg;
        opacity: 0;
        transform: translateY(120vh);
    }
 }

 ul{
    width: 80%;
 }
 
 .rules{
    font-size: 25px;
    color: white;
    padding-bottom: 30px;
 }

 #goBack{
    display: flex;
    align-content: center;
    color: white;
    background: rgba(255, 255, 255, 0.30);
    transition: background-color 0.3s ease, transform 0.2s ease;
    height: 40px;
    text-align: center;
    width: 120px;
    border-radius: 6px;
    border: 1px solid #FFF;
    
    a{
        all: unset;
        display: block;
        font-size: 25px;
        color: white;
        cursor: pointer;
        width: 100%;
        padding-top: 5px;
    }
 }

 #goBack:hover{
    transform: scale(1.2);
 }



 .label.r{
    width: unset;
    margin-bottom: 20px;

    a{
        color: white;
        text-decoration: none;
        font-family:"Gloria Hallelujah" ;
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
 }

 .mainContainer.first .answerButtonWrap{
    gap: 20px;
 }