body{
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(68.97% 68.73% at 50% 50%, #1C008A 0%, #130060 29%, #0F0048 52%, #02000A 94%);
    margin: 0;
}
header{
    width: 100%;
    height: 7vh;
    margin-bottom: 5vh;
    background: rgba(255, 255, 255, 0.20);
    border-bottom: rgba(255, 255, 255, 0.2) 1px solid ;



    a.dark{
        all: unset;
        cursor: pointer;
        color: #FFF;
        font-family: "Gloria Hallelujah";
        font-size: 25px;

    }

    div{
        margin:0 10px 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

button{
    font-family: "Gloria Hallelujah";
}

p{
    color: rgb(18, 7, 53);
    text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.8);
}

div.mainContainer{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    width: 900px;
    min-height: 600px;
    height: fit-content;
    border-radius: 40px;
    background: linear-gradient(159deg, rgba(255, 255, 255, 0.40) 3.01%, rgba(255, 255, 255, 0.00) 103.3%);
    margin-bottom: 50px;

    border: 1px solid transparent;
    border-image: linear-gradient(300deg, rgb(19, 1, 66), rgb(255, 255, 255)) 1;
    mask:
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0);

    .questionContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        margin: 20px 35px 0 35px;

        p{
            font-size: 40px;
            font-weight: 600;
            line-height: 40px;
        }
    }

    .answerAndButton{
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        max-width: 100%;
        padding: 0 4%;
        justify-content: space-between;
        flex-grow: 3;
    }
}

div.mainContainer.first{
    justify-content: space-evenly;
    align-items: center;

    h1{
        font-size: 50px;
    }

    button{
        width: 250px;
        height: 3.5em;
        margin-bottom: 80px;

        span{
            font-size: 30px;
        }
    }
}



.answerContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
    margin: 0 20px;
}



input{
    visibility: hidden;
}

.answerButtonWrap .label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:30px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.30);
    transition: background-color 0.3s ease, transform 0.2s ease;
    height: 60px;
    width:260px;
    min-width: fit-content;
    border-radius: 6px;
    border: 1px solid #FFF;
}

.answerButtonWrap .label:hover {
    background: rgba(17, 103, 40, 0.6);
    transform: scale(1.05);
}

input:checked + .label {
    background-color:rgba(17, 103, 40, 0.6);
}

button:not(.submit){
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background: none;
    border: 0;
    
}

.previousButton{
    max-width: 15%;
}

.nextButton{
    max-width: 10%;
}

button img:hover{
    transform: scale(1.5);
}

.mainContainer.results{
    width: 70%;
    height: fit-content;
    position: relative;
    bottom: 0;
    background: rgba(255, 255, 255, 0.50);


    div.scoreBox{
        display: flex;
        justify-content: center;
        gap: 10vw;

        .score{
            padding: 15px;
            border-radius: 6px;
            border: 1px solid #FFF;
            text-align: center;
        }
    }

    .allQuestions{
        margin: 25px;

        span{
            margin:0 5em ;
        }
    }

    p{
        font-size: 20px;
        line-height: 10px;
    }
}

div.score.red{
    color: rgb(151, 1, 1);

    p{
        color: rgb(135, 2, 2);
        font-weight: 600;
    }
}

div.score.green{
    color: rgb(0, 113, 0);

    p{
        color: rgb(0, 113, 0);
        font-weight: 600;
    }
}

div.score.orange{
    color: orange;

    p{
        color: orange;
        font-weight: 600;
    }
}

h1{
    text-align: center;
    margin: 5vh;
    color: white;
    font-family: "Gloria Hallelujah";
}

.darkLight{
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: linear-gradient(2deg, #6A6DFF 10.84%, #4532B1 54.34%, #1D005A 97.84%);
    box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.32) inset;
    transition: 0.3s;
}

.darkLight:after{
    content: "";
    position: absolute;
    top: 2.5px;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    padding: 0;
    margin-right: 7px;
    background: #D9D9D9;
    box-shadow: -2px 6px 7px 0px rgba(0, 0, 0, 0.31) inset;
    transition: 0.3s;
}

#darkLightInput{
    height: 20px;
    width: 20px;
    z-index: 1;
    visibility: visible;
    position: relative;
    left:30px;
    opacity: 0;
    cursor: pointer;
}

#darkLightInput:checked{
    left:50px;
}

#darkLightInput:checked + .darkLight{
    background: linear-gradient(0deg, #FCF5D0 10%, #FFBE45 100%);
    box-shadow: 2px 3px 6px 0px rgba(57, 28, 0, 0.32) inset;
}

#darkLightInput:checked + .darkLight:after{
    left: 46px;
    transform: translate(-100%);
    background: #FFAF5A;
    box-shadow: 2px 6px 7px 0px rgba(0, 0, 0, 0.31) inset;
}

button.submit{
    border: 1px solid #ffffff93;
    background: rgba(255, 255, 255, 0.329);
    border-radius: 10px;
    width: fit-content;
    padding: 0 10px;
    height: 50px;
    font-size: 20px;
    align-self: center;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    color: #0d0028;
}


/* ligh styling */

body.light{
    background: radial-gradient(68.97% 68.73% at 50% 50%, #FFEFED 11.5%, #FDD6D2 66.5%, #FBB4AD 100%);
}
header.light{
    background: linear-gradient(112deg, rgba(236, 192, 192, 0.60) 26.69%, rgba(255, 236, 236, 0.60) 68.65%);
    box-shadow: rgba(231, 133, 133, 0.181) 0px 20px 20px -5px, rgba(183, 104, 104, 0.127) 0px 10px 10px -5px;

    a{
        color: #710808;
    }
}


p.light{
    color: rgb(49, 0, 82);
    text-shadow: 2px 2px 15px rgba(41, 6, 65, 0.49);
}

div.mainContainer.light{
    background: linear-gradient(150deg, rgba(255, 90, 90, 0.282) 26.69%, rgba(255, 186, 186, 0.414) 68.65%);
    border: 1px solid rgba(207, 118, 118, 0.277);

}

.answerButtonWrap .label.light{
    color: rgb(113, 7, 7);
    border: #7108083e 1px solid;
}

.answerButtonWrap .label.light:hover{
    background-color:rgba(113, 1, 150, 0.315);
    color: white;
}

input:checked + .label.light{
    background-color:rgba(113, 1, 150, 0.315);
    color: white;
}

.mainContainer.results.light{
    background: rgba(255, 170, 170, 0.5);

    h1{
        color: rgb(107, 3, 3);
    }
    
    p{
        color: rgb(76, 0, 0);
    }
}

div.score.orange.light{
    color: rgb(210, 113, 21);

    p{
        color: orange;
    }
}

#startGame.light{
    color: rgb(76, 0, 0);
    border: #8b222237 solid 1px;
}

#startGame.light:hover{
    color: white;
}

.submit.light{
    border: #8b222237 solid 1px;
}
.submit.light:hover{
    transform: scale(1.2);
}


@media screen and (max-width: 400px){
    div.mainContainer{
        min-height: 500px;
    }

    div.mainContainer.first button{
        min-width: 200px;
        max-width: 210px;
        max-height: 90px;
    }

    .questionContainer{      
        margin: 0 0px;
    }

    .answerButtonWrap .label {
        width: 200px;
    }

    .mainContainer.results p{
            line-height: 20px;
        }

}

@media(max-width: 700px){

    div.mainContainer.first button{
        font-size: 20px;
    }
}
